{% extends '::layout.html.twig' %}

    {% block title %}
        {{ title }}
    {% endblock title %}

    {% block content %}
        <div class="row my-4">
            <div class="card text-center col-lg-12">
                <div class="card-header">
                    {% block adminPanel %}
                        <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Welcome</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Books</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_authordirector_index') }}">Authors/Directors</a>
                        </li>
                    </ul>
                    {% endblock adminPanel %}
                </div>
                <div class="card-block">
                    {% block adminAction %}
                        <h4 class="card-title">Welcome To Your Back Office</h4>
                        <p class="card-text">Choose a section to manage, updates and creates new books, authors or users. Enjoy !</p>
                    {% endblock adminAction %}
                </div>
            </div>
        </div>
    {% endblock content %}