{% extends ":email:emailTemplate.html.twig" %}

{% block emailContent %}
    <tr>
        <td>
            <p>
                {# put your email content here !!!#}
            </p>
        </td>
    </tr>
{% endblock emailContent %}