<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy;
            <b>
                <a style="color: slategrey" href="https://fr.linkedin.com/in/julien-valle-a50871a1">at_dev_julien 2017</a>
            </b>
        </p>
    </div>
</footer>