{% extends '::layout.html.twig' %}

    {% block title %}
        {{ title }}
    {% endblock title %}

    {% block content %}
        <!-- Heading Row -->
        <div class="row my-4">
            <div class="col-lg-8">
                <img class="img-fluid rounded" src="{{ asset('bundles/front/img/nova.jpg') }}" alt="novaway">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <h1>Manage your library online !</h1>
                <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                <a class="btn btn-primary btn-lg" href="{{ path('book_list') }}">See all books and authors</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-4 text-center">
            <div class="card-body">
                <p class="text-white m-0">Here is the list of the latest books and their authors availabled on the website!</p>
            </div>
        </div>
    {% endblock content %}

    {% block listCardBook %}
        {{ render(controller('AdminBundle:Book:carListLastRegisteredBook', {'counter': counter })) }}
    {% endblock listCardBook %}